@using Mirantis.ReportingToolForInternship.PL.WebUI.Models.Repositories;

@model IEnumerable<Mirantis.ReportingToolForInternship.PL.WebUI.Models.RepresentingReportVM>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MentorsFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternsFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOccuring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MentorsFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternsFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOccuring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (string.IsNullOrEmpty(item.MentorsFullName))
                {
                    if (User.IsInRole("Intern") && item.IsDraft)
                    {
                        @Html.ActionLink("Edit intern's report", "EditInternsReport", new { id = item.Id })
                        <span> | </span>
                    }
                    @Html.ActionLink("Details intern's report", "DetailsInternsReport", new { id = item.Id })
                }
                else
                {
                    if (User.IsInRole("Mentor") && item.IsDraft)
                    {
                        @Html.ActionLink("Edit mentor's report", "EditMentorsReport", new { id = item.Id })
                        <span> | </span>
                    }
                    @Html.ActionLink("Details mentor's report", "DetailsMentorsReport", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
