@using Mirantis.ReportingToolForInternship.PL.WebUI.Models.Repositories
@model Mirantis.ReportingToolForInternship.PL.WebUI.Models.ReportVM

@{
    ViewBag.Title = "Add Report";
}

<h2>Add intern's report</h2>

<form class="form-horizontal">
    <hr />

    <div id="MessageAboutStatusReport">
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InternName, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <select name="InternName" id="InternName" class="selectpicker">
                @foreach (var item in UserRepo.Repo)
                {
                    <option value="@item.Name">
                        @string.Format("{0} - {1}", item.Name, item.Email)
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.InternName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <select name="Type" id="Type" class="selectpicker">
                @foreach (var item in TypeReportRepo.ReportsTypes)
                {
                    <option value="@item.Name">
                        @string.Format("{0}", item.Name)
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-md-offset-2">
            <strong>Activities</strong>
        </div>
        <div class="col-xs-5">
            <strong class="strong-question">Questions about activities</strong>
        </div>
    </div>

    <div class="form-group" id="WrapperOnActivityInputAndQuestionInput">
        <div class="col-xs-5 col-md-offset-2">
            <div class="col-xs-10" id="WrapperOnActivityInput">
                <input class="form-control text-box single-line input-activity" id="ActivityInput" /> 
            </div>
            <div class="col-xs-2">
                <input type="button" value="+" class="btn btn-default btn-add-activity pull-right" id="AddActivityButton" />
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="col-xs-10">
                    <input type="text" class="form-control text-box single-line input-question" id="QuestionInput" />
                </div>
                <div class="col-xs-2">
                    <input type="button" value="+" class="btn btn-default btn-add-question pull-right" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-md-offset-2">
            <strong>Future plans</strong>
        </div>
    </div>

    <div class="form-group" id="WrapperInputFuturePlan">
        <div class="col-xs-9 col-md-offset-2">
            <input class="form-control text-box single-line input-future-plan" id="FuturePlanInput" />
        </div>
        <div class="col-xs-1">
            <input type="button" value="+" class="btn btn-default pull-right" id="AddFuturePlanButton" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-md-offset-2">
            <input type="button" value="Save as draft" class="btn btn-default" id="SaveAsDraftButton" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-md-offset-2">
            <input type="button" value="Submit" class="btn btn-default" id="SubmitButton" />
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>   
    <script src="~/Scripts/Custom/addActivityInInternsReport.js"></script>
    <script src="~/Scripts/Custom/addFuturePlanInReport.js"></script>
    <script src="~/Scripts/Custom/addQuestionInReport.js"></script>   
    <script src="~/Scripts/Custom/constructors.js"></script>
    <script src="~/Scripts/Custom/sendInternsReportForAddition.js"></script>
}