@using Mirantis.ReportingToolForInternship.PL.WebUI.Models.Repositories
@model Mirantis.ReportingToolForInternship.PL.WebUI.Models.ReportVM

@{
    ViewBag.Title = "Add mentor's report";
}

<h2>Add mentor's report</h2>

<form class="form-horizontal">
    <hr />

    <div id="MessageAboutStatusReport">
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MentorName, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <select name="MentorName" id="MentorName" class="selectpicker">
                @foreach (var item in UserRepo.Repo)
                {
                    <option value="@item.Name">
                        @string.Format("{0} - {1}", item.Name, item.Email)
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.MentorName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.InternName, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <select name="InternName" id="InternName" class="selectpicker">
                @foreach (var item in UserRepo.Repo)
                {
                    <option value="@item.Name">
                        @string.Format("{0} - {1}", item.Name, item.Email)
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.InternName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TypeOccuring, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <select name="TypeOccuring" id="TypeOccuring" class="selectpicker">
                @foreach (var item in TypeOccuringRepo.ReportsTypes)
                {
                    <option value="@item">
                        @string.Format("{0}", item)
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.TypeOccuring, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group date">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-md-offset-2">
            <strong>Activities :</strong>
        </div>
        <div class="col-xs-5">
            <strong class="strong-question">Evaluations :</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-md-offset-2">
            @Html.ValidationMessageFor(model => model.Activities, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group activity">
        <div class="col-xs-5 col-md-offset-2">
            <div class="row">
                <div class="col-xs-9">
                    <input type="text" class="form-control text-box single-line input-activity" />
                </div>
                <div class="col-xs-3">
                    <input type="button" value="–" class="btn btn-default pull-right btn-remover-activity" />
                    <input type="button" value="+" class="btn btn-default pull-right btn-adder-activity" />
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <input type="text" class="form-control text-box single-line input-evaluation" />
        </div>
        <div class="col-xs-10 col-md-offset-2">
            <span class="field-validation-valid text-danger" data-valmsg-for="Activity" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="composition future-plans">
        <div class="form-group">
            <div class="col-xs-10 col-md-offset-2">
                <strong>Future plans :</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-md-offset-2">
                @Html.ValidationMessageFor(model => model.FuturePlans, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-8 col-md-offset-2">
                <input type="text" class="form-control text-box single-line input-future-plan" />
            </div>
            <div class="col-xs-2">
                <input type="button" value="–" class="btn btn-default pull-right btn-remover" />
                <input type="button" value="+" class="btn btn-default pull-right btn-adder" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-10 col-md-offset-2">
            <input type="button" value="Save as draft" class="btn btn-default" id="SaveAsDraftButton" />
            <input type="button" value="Submit" class="btn btn-default" id="SubmitButton" />
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>

    <script src="~/Scripts/Custom/validationRecord.js"></script>
    <script src="~/Scripts/Custom/clearInputs.js"></script>
    <script src="~/Scripts/Custom/disableInputs.js"></script>
    <script src="~/Scripts/Custom/validationActivities.js"></script>
    <script src="~/Scripts/Custom/validationMentorsActivities.js"></script>
    <script src="~/Scripts/Custom/validationFuturePlans.js"></script>
    <script src="~/Scripts/Custom/actionsAfterSuccessfullAdditionReport.js"></script>
    <script src="~/Scripts/Custom/assignEventsToRemoverButtons.js"></script>
    <script src="~/Scripts/Custom/assignEventsToRemoverActivityButtons.js"></script>
    <script src="~/Scripts/Custom/assignEventsToAdderButtons.js"></script>
    <script src="~/Scripts/Custom/assignEventsToAdderActivityButtons.js"></script>
    <script src="~/Scripts/Custom/constructors.js"></script>
    <script src="~/Scripts/Custom/constructReportBeforeSending.js"></script>
    <script src="~/Scripts/Custom/sendMentorsReportForAddition.js"></script>
    <script src="~/Scripts/Custom/enableDatePicker.js"></script>
    <script src="~/Scripts/Custom/changeRulesValidation.js"></script>
}