@using Mirantis.ReportingTool.PL.WebUI.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporting Tool</title>
    <link href="~/Content/libs/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-override.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <header class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole(AppRoles.Engineer))
                            {
                                <li>@Html.ActionLink("Add engineer's report", "AddEngineerReport", "Report")</li>
                            }
                            if (User.IsInRole(AppRoles.Manager))
                            {
                                <li>@Html.ActionLink("Add manager's report", "AddManagerReport", "Report")</li>
                            }
                            <li>@Html.ActionLink("Search", "Search", "Report")</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Sign Out", "SignOut", "AuthenticationUser")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Sign In", "SignIn", "AuthenticationUser")</li>
                        }
                    </ul>
                </div>
            </div>
        </header>
        <section class="container">
            @RenderBody()
            <hr />
        </section>
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Mirantis</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>